<!--DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
* Routes user to the correct form type for desired entry
* Jessica Gaines 09-17
-->
{% extends "formatting.html" %}
{% block page-title %}Choose workout type{% endblock %}
{% block body %}
 <h1>Choose workout type:</h1>
 <!-- TODO replace href with functional buttons with event listeners -->
 <button><a href='mileage/'>Mileage</a></button>
 <button><a href='intervals/'>Interval Workout</a></button>
 <button><a href='race/'>Race</a></button>
 {% endblock %}