<!--DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
* Parent page for all entry pages displaying forms to add an entry to the database
* Jessica Gaines 09-17 
-->
{% extends "formatting.html" %}
{% block page-title %}{% endblock %}
{% block body %}
 <h1>{% block heading %}{% endblock %}</h1>
 <form action="." method="POST">
 {% csrf_token %}
 <table>
	{% block repeats_option %}{{ form.as_table }}{% endblock %}
 </table>
 <p><input type="submit" value="Submit"></p>
 </form>
{% endblock %}