<!-- DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
* Parent page for all main pages displaying log information and statistics 
* Jessica Gaines 09-17
-->
<html lang="en">
<head>
 <title>{% block page-title %}{% endblock %}</title>
 <style>
	body {background-color:lavender; margin:30px}
	h1 {color:green;}
	p {color: black;}
	li.topnav {float:left;}
 </style>
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>
