<!-- Parent page for all main pages displaying a set of personal records for races
* Jessica Gaines 09-17-->
{% extends "main.html" %}
{% block title %}{% endblock %}
{% block content %}{% endblock %}
{% block race-option %}
<h3>{% block race-title %}{% endblock %}</h3>
<table style="border: 1px solid gray" cellspacing="15">
		<th style="border-bottom: 1px solid gray">Distance</th >
		<th style="border-bottom: 1px solid gray">Time</th>
		<th style="border-bottom: 1px solid gray">Date</th>
		<th style="border-bottom: 1px solid gray">Course</th>
		<th style="border-bottom: 1px solid gray">Comments</th>
		{% for race in best_races.values %}
			<tr>
				<td>{{race.race_distance}}</td>
				<td>{{race.time}}</td>
				<td>{{race.date}}</td>
				<td>{{race.course}}</td>
				<td>{{race.comments}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
{% block table_head %}{% endblock%}
{% block enddate %} - {{set.latest_date}}{% endblock %}
