<!-- DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
* Parent page for all main pages displaying log information and statistics 
* Jessica Gaines 09-17
-->
{% extends "formatting.html" %}
{% block page-title %}Main{% endblock %}
{% block body %}
	<h1>Running log site</h1>
	<button style="font-size:200%"><a href="../../entry">Log a Run</a></button>
	<hr>
	<div class="topnav">
		<!-- TODO replace href with functional buttons with event listeners -->
		<button><a href="../daily">Daily</a></button>
		<button><a href="../weekly">Weekly</a></button>
		<button><a href="../monthly">Monthly</a></button>
		<button><a href="../yearly">Yearly</a></button>
		<button><a href="../lifetime">Lifetime</a></button>
	</div>
	<hr>
	<h2>{%block title%}{%endblock%}</h2>
	{%block content%}{%endblock%}
	{% block entries-option %}{% endblock %}
	{% block race-option %}{% endblock %}
	<h3>History :</h3>
	<table style="border: 1px solid gray" cellspacing="15">
		<th style="border-bottom: 1px solid gray">{% block table_head%}{% endblock %}</th ><th style="border-bottom: 1px solid gray">Total Distance</th><th style="border-bottom: 1px solid gray">Number of Runs</th>
		{% for set in sets %}
			<tr>
				<td>{{set.earliest_date}}{% block enddate %}{% endblock %}</td>
				<td>{{set.total}}</td>
				<td>{{set.num_runs}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}