<!-- Parent page for all main pages displaying a set of individual entries 
* Jessica Gaines 09-17-->
{% extends "main.html" %}
{% block title %}{% endblock %}
{% block content %}{% endblock %}
{% block entries-option %}
<h3>{% block entries-title%}{% endblock %}</h3>
<table style="border: 1px solid gray" cellspacing="15">
	<th style="border-bottom: 1px solid gray">Date</th >
	<th style="border-bottom: 1px solid gray">Distance</th>
	<th style="border-bottom: 1px solid gray">Comments</th>
	{% for entry in entries %}
		<tr>
			<td>{{entry.date}}</td>
			<td>{{entry.total_distance}}</td>
			<td>{{entry.comments}}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
{% block table_head %}{% endblock %}
{% block enddate %}{% endblock %}